<div class="top-nav container-fluid">
  <div class="container">
    <div class="row">
      <div class="my-2 col-md-6" style="display:inline-block">
        <a href="#" class="text-light font-weight-bold" style="display:inline-block;">
          30% OFF ALL 1000MG GUMMIES
          <!-- <i class = "fab fa-pinterest-p"></i> -->
          <i style="color:#ffc83d" class="fa fa-hand-o-right"></i>
          <i style="color:#ffc83d" class="fa fa-hand-o-right"></i>
          <i style="color:#ffc83d" class="fa fa-hand-o-right"></i>
        </a>
        <a class="text-danger font-weight-bold" style="display:inline-block;color: #f00d0f;">COUPON
          CODE:300FF</a>
      </div>
      <div class="col-md-6 my-incons">
        <ul class="list-unstyled">
          <li><a class="btn"><i class="fa fa-facebook"></i></a></li>
          <li><a class="btn"><i class="fab fa-twitter"></i></a></li>
          <li><a class="btn"><i class="fab fa-google"></i></a></li>
          <li><a class="btn"><i class="fab fa-instagram"></i></a></li>
          <li><a class="btn"><i class="fab fa-pinterest-p"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid my-top-main-nav sticky-top">
  <div class="inline-stuck">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <hr style="background-color:white">
      <a href="#">Home</a>
      <a href="#">Delta8 Gummies</a>
      <a href="#">Wholesale</a>
      <a href="#">Lab Tests</a>
      <a href="#">Order Tracking</a>
      <a href="#">Faq</a>
      <a href="#">Contact</a>
      <hr style="background-color:white">
      <a href="#"><i class="material-icons" style="font-size:16px;">lock</i>&nbsp;Sign In</a>
      <a href="#"><i class="fa fa-user-o" style="font-size:16px;"></i>&nbsp;Register</a>
      <a href="#"><i class="fa fa-lock" style="font-size:16px;"></i>&nbsp;View Cart</a>
      <hr style="background-color:white">
      <a href="#"><i class="fa fa-dollar" style="font-size:16px;"></i>&nbsp;US Dollars</a>
      <a href="#"><i class="fa fa-euro" style="font-size:16px;"></i>&nbsp;Euro</a>
      <a href="#"><i class="fas fa-pound-sign" style="font-size:16px;"></i>&nbsp;British Pounds</a>

    </div>
    <div class="row">
      <div class="d-flex justify-content-between mb-3" style="width:100%">
        <div class="p-2" style="margin:auto 0">
          <ul class="navbar-nav" id="top-nav-right-buttons">
            <li class="nav-item"><a class="btn nav-link text-white"><i class="fa fa-user"></i></a></li>
            <li class="nav-item"><a class="btn nav-link text-white"><i class="fa fa-lock"></i></a></li>
          </ul>
        </div>
        <div class="p-2">
          <a class="navbar-brand" href="#">
            <img src="./assets/image/Delta-8-Logo.png" style="width:170px;">
          </a>
        </div>
        <div class="p-2" style="margin:auto 0">
          <span style="font-size:30px;cursor:pointer;color:white;" onclick="openNav()">&#9776;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="display-n">
    <nav class="container navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="./assets/image/Delta-8-Logo.png"></a>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" style="color:white; margin:auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Delta8 Gummies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Affiliates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lab Tests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wholesale</a>
        </ul>

      </div>
      <ul class="navbar-nav" id="top-nav-right-buttons">
        <li class="nav-item"><a class="btn nav-link text-white"><i class="fa fa-search"></i></a></li>
        <li class="nav-item"><a class="btn nav-link text-white"><i class="fa fa-lock"></i></a></li>
        <li class="nav-item"><a class="btn nav-link text-white"><i class="fa fa-user"></i></a></li>
      </ul>

    </nav>
  </div>
</div>
<div class="slide-box">
  <div id="top-text1">
    <div class="container">
      <h1 class="text-white font-weight-bold ">DELTA 8</h1>
      <h2 class="text-info font-weight-bold" style="color:#1dbde0">GUMMIES</h2>
      <h3 class="text-white" id="second-heading">Now with 19 Different Flavors to choose From<br>Delta 8
        Gummies</h3>
      <button type="button" class="btn" style="font-weight: bold;" id="shop">
        SHOP NOW!
      </button>
    </div>
  </div>
</div>
<div class="popular-product text-center mb-3">
  <h1>MOST POPULAR DELTA 8 GUMMIES PRODUCTS</h1>
</div>
<div class="pro" style="margin:0 15px">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-12-440width pro-item">
      <div class="card img-fluid" style="margin:0">
        <img class="card-img-top" src="./assets/image/Untitled-2.png" alt="Card image">
        <div class="card-img-overlay">
          <div class="card-title " style="text-align: center;">
            <h1 class="text-white top-text font-weight-bold">SAMPLE PACK</h1>
            <h2 class="card-text text-info">UP TO 50% OFF</h2>
            <a href="#" class="btn font-weight-bold">SHOP NOW!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-12-440width pro-item">
      <div class="card img-fluid " style="margin:0">
        <img class="card-img-top" src="./assets/image/Untitled-3.png" alt="Card image">
        <div class="card-img-overlay">
          <div class="card-title " style="text-align: center;">
            <h1 class="text-white top-text font-weight-bold">ALL FAVORS</h1>
            <h2 class="card-text text-info">UP TO 50% OFF</h2>
            <a href="#" class="btn font-weight-bold">SHOP NOW!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-12-440width pro-item">
      <div class="card img-fluid">
        <img class="card-img-top" src="./assets/image/Untitled-4.png" alt="Card image">
        <div class="card-img-overlay">
          <div class="card-title " style="text-align: center;">
            <h1 class="text-white top-text font-weight-bold">WHITE LABEL</h1>
            <h2 class="card-text text-info">UP TO 50% OFF</h2>
            <a href="#" class="btn font-weight-bold">SHOP NOW!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="most-edibles text-center my-5">
  <h1 class="my-5">THE MOST EDIBLES ON THE MARKET</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-12-440width  pro-item">
        <div class="card">
          <img class="card-img-top" src="./assets/image/banner-7.png" alt="Card image" style="width:100%">
          <span class="badge badge-pill badge-danger"
            style="position:absolute;left:5px;top:5px;background-color: #f25c3f;">SALE 33%</span>
          <div class="card-body" style="border-top: 1px solid rgba(0, 0, 0, .125);">
            <h2 class="card-title font-weight-bold">BUY 2 GET 3 FREE</h2>
            <div>
              <p class="card-text" style="color:#9999a0;display: inline-block;">$139.99</p>
              &nbsp;
              <span style="display: inline-block; color:red; font-weight: bold;"><del>$299.99</del></span>
            </div>
            <a href="#" class="btn stretched-link">ADD TO CART</a>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-4 col-12-440width  pro-item">
        <div class="card">
          <img class="card-img-top" src="./assets/image/banner-8.png" alt="Card image" style="width:100%">
          <span class="badge badge-pill badge-danger"
            style="position:absolute;left:5px;top:5px;background-color: #f25c3f;">SALE 33%</span>
          <div class="card-body" style="border-top: 1px solid rgba(0, 0, 0, .125);">
            <h2 class="card-title font-weight-bold">BUY 2 GET 3 FREE</h2>
            <div>
              <p class="card-text" style="color:#9999a0;display: inline-block;">$139.99</p>
              &nbsp;
              <span style="display: inline-block; color:red;font-weight: bold;"><del>$299.99</del></span>
            </div>
            <a href="#" class="btn stretched-link">ADD TO CART</a>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-4 col-12-440width pro-item">
        <div class="card">
          <img class="card-img-top" src="./assets/image/banner-9.png" alt="Card image" style="width:100%">
          <span class="badge badge-pill badge-danger"
            style="position:absolute;left:5px;top:5px;background-color: #f25c3f;">SALE 33%</span>
          <div class="card-body" style="border-top: 1px solid rgba(0, 0, 0, .125);">
            <h2 class="card-title font-weight-bold">BUY 2 GET 3 FREE</h2>
            <div>
              <p class="card-text" style="color:#9999a0;display: inline-block;">$139.99</p>
              &nbsp;
              <span style="display: inline-block; color:red;font-weight: bold;"><del>$299.99</del></span>
            </div>
            <a href="#" class="btn stretched-link">ADD TO CART</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="most-edibles2 text-center mb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-12-440width pro-item">
        <div class="card" style="border: none;">
          <img class="card-img-top" src="./assets/image/banner-6.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <p class="card-title font-weight-bold">HEMP DERIVED DELTA 8 THC</p>
            <h3 class="card-text text-primary font-weight-bold">NO MEDICAL CARD</h3>
            <h3 class="card-text text-primary font-weight-bold"> REQUIRED</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-12-440width pro-item">

        <div class="card" style="border: none;">
          <img class="card-img-top" src="./assets/image/LAB-TESTING2.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <p class="card-title font-weight-bold">LAB TESTED AND FORMULATED</p>
            <h3 class="car-text font-weight-bold">ONLY THE HIGHTEST</h3>
            <div>
              <h3 class="card-text font-weight-bold" style="display: inline-block;"> QUALITY</h3>
              <h3 class="text-primary font-weight-bold" style="display: inline-block;">DELTA 8 THC
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-12-440width pro-item">
        <div class="card" style="border: none;">
          <img class="card-img-top" src="./assets/image/shipping-banner2.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <p class="card-title font-weight-bold">SHOPS TO ALL 50 STATES!!</p>
            <div>
              <h3 class="card-text font-weight-bold" style="display: inline-block;">SAME DAY </h3>
              <h3 class="text-primary font-weight-bold" style="display: inline-block;">SHIPPING</h3>
            </div>
            <h3 class="text-primary font-weight-bold">AVAILABLE</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sample-packs text-center mb-5">
  <h1>DELTA 8 GUMMIES SAMPLE PACKS</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-12-440width pro-item">
        <div class="card" style="border: none;">
          <p class="font-weight-bold">5000MG Delta 8 Bundle</p>
          <img class="card-img-top" src="./assets/image/GUMMIES-TOGETHER.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <p class="card-text property" style="margin:0">5000MG</p>
            <div>
              <h4 class="card-text font-weight-bold" style="color:#f25c3f;display:inline-block">$69.0
              </h4> <sub style="display: inline-block;">per jar</sub>

            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-12-440width pro-item">
        <div class="card " style="border: none;">
          <p class="font-weight-bold">10,000MG Delta 8 Bundle</p>
          <img class="card-img-top" src="./assets/image/GUMMIES-TOGETHER.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <p class="card-text property" style="margin:0">10,000MG Delta 8 Bundle</p>
            <div>
              <h4 class="card-text font-weight-bold" style="color:#f25c3f;display:inline-block">
                $498.00
              </h4> <sub style="display: inline-block;">per jar</sub>

            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-12-440width pro-item">
        <div class="card" style="border: none;">
          <p class="font-weight-bold">Buy 2 Get 1 Free</p>
          <img class="card-img-top" src="./assets/image/GUMMIES-TOGETHER.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <i class="fa fa-star" style="color:#f5ac00"></i>
            <p class="card-text property" style="margin:0">Ten 100MG Delta 8 THC PEACH RINGS.<br>1000MG
              Delta 8
              Gummies</p>

            <div>
              <h4 class="card-text font-weight-bold" style="color:#f25c3f;display:inline-block">
                $139.98
              </h4> <sub style="display: inline-block;">per jar</sub>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="instagram text-center mb-5">
  <h1>FOLLOW US ON INSTAGRAM</h1>
  <p style="color:#9999a0">@DELTA8GUMMIESNOW</p>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-12-440width pro-item">
        <img src="./assets/image/instagram-3.jpg" style="width: 100%;">
      </div>
      <div class="col-sm-6 col-md-4 col-12-440width pro-item">
        <img src="./assets/image/instagram-2.jpg" style="width: 100%;">
      </div>
      <div class="col-sm-6 col-md-4 col-12-440width pro-item">
        <img src="./assets/image/instagram-1.jpg" style="width: 100%;">
      </div>
    </div>
  </div>
</div>
<div class="container advantage">
  <div class="row">

    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="row">
        <div class="col-sm-3" style="padding:0;margin:0;">
          <img class="img-fluid" src="./assets/image/font-1.png">
        </div>
        <div class="col-sm-9">
          <h1>FREE SHIPPING</h1>
          <p>Free shipping on all US order or order above $99</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="row">
        <div class="col-sm-3" style="padding:0;margin:0;">
          <img class="img-fluid" src="./assets/image/font-2.png">
        </div>
        <div class="col-sm-9">
          <h1>SUPPORT 24/7</h1>
          <p>Contact us 24 hours a day, 7 days a week</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="row">
        <div class="col-sm-3"><img src="./assets/image/font-3.png"></div>
        <div class="col-sm-9">
          <h1>100$ SATISFACTION</h1>
          <p>We Guarantee You'll Love our product</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="row">
        <div class="col-sm-3"><img src="./assets/image/font-4.png"></div>
        <div class="col-sm-9">
          <h1>100$ PAYMENT SECURE</h1>
          <p>We ensure secure payment with PEV</p>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>